# SendaGo Pay 2.0 Environment Configuration

# App
PORT=8000
APP_ENV=development
JWT_SECRET=sendago-super-secret-jwt-key-2026-very-secure
DASHBOARD_URL=http://localhost:3000

# Database (PostgreSQL 16)
DB_USER=sendago
DB_PASSWORD=sendagosecret
DB_NAME=sendago_pay
DB_PORT=5432
DATABASE_URL=postgres://sendago:sendagosecret@localhost:5432/sendago_pay?sslmode=disable

# Cache & Locks (Redis 7)
REDIS_PORT=6379
REDIS_URL=redis://localhost:6379

# Master Merchant Default (Direct QRIS & Bank Mutation)
DEFAULT_MASTER_QRIS=00020101021126590013ID.CO.GOPAY.WWW01189360091438291039210215ID10200392019010303UMI51440014ID.CO.QRIS.WWW0215ID10200392019010303UMI5204541153033605802ID5911SendaGo Pay6013Jakarta Pusat61051011062070703A0163046D5E
DEFAULT_BANK_NAME=BCA
DEFAULT_BANK_ACCOUNT=8831092819
DEFAULT_BANK_HOLDER=ADITYA PUTRA

# Frontend Public API URL
NEXT_PUBLIC_API_URL=http://localhost:8000

# SendagoMail Engine Configuration
SENDAGOMAIL_MEMBER_ID=mbr_1e442b7427c3ee2f
SENDAGOMAIL_SECRET=c01351606fdba6885fa5ded03144c92bb6f406ada10dd0e2
SENDAGOMAIL_ENDPOINT=https://sendagomail.adilabs.id/emails/api-send
SENDAGOMAIL_FROM_ADDR=sendmail@adilabs.id

